name: React Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build React App
    runs-on: idrees
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - run: npm install
      - run: npm run build

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - run: npm install
      - run: npm test -- --watchAll=false || echo "No tests"

  docker:
    name: Build & Push Docker Image
    runs-on: idrees
    needs: test
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/simple-reactjs-app:${{ github.sha }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/simple-reactjs-app:staging \
            .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/simple-reactjs-app:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/simple-reactjs-app:staging

  deploy-staging:
    name: Deploy to Staging
    runs-on: idrees
    needs: docker
    steps:
      - name: Deploy container
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/simple-reactjs-app:staging

          docker stop react-staging || true
          docker rm react-staging || true

          docker run -d \
            --name react-staging \
            --restart unless-stopped \
            -p 3002:3000 \
            ${{ secrets.DOCKERHUB_USERNAME }}/simple-reactjs-app:final
